<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细消息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
	</configSections>
	<log4net>
		<!-- Define some output appenders -->
		<appender name="SysAppender" type="log4net.Appender.RollingFileAppender,log4net">
			<param name="File" value="Log/" />
			<param name="AppendToFile" value="true" />
			<param name="RollingStyle" value="Date" />
			<param name="DatePattern" value="&quot;Logs_&quot;yyyyMMdd&quot;.txt&quot;" />
			<param name="StaticLogFileName" value="false" />
			<layout type="log4net.Layout.PatternLayout,log4net">
				<param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
				<param name="Header" value="&#xD;&#xA;----------------------header--------------------------&#xD;&#xA;" />
				<param name="Footer" value="&#xD;&#xA;----------------------footer--------------------------&#xD;&#xA;" />
			</layout>
		</appender>
		<appender name="HttpAppender" type="log4netUTS.HttpAppender,log4netUTS">
			<param name="Host" value="http://tLog.cn100.com/HttpLogReceive.aspx"/>
			<param name="ServerTag" value="192.168.0.1"/>
			<param name="AppName" value="test"/>
			<param name="Timer" value="5000"/>
			<param name="MaxRecords" value="1000"/>
			<param name="UserName" value="Admin"/>
			<param name="UserPWD" value="8D70D8AB2768F232EBE874175065EAD3"/>
		</appender>
		<root>
			<level value="ALL" />
			<appender-ref ref="SysAppender" />
			<appender-ref ref="HttpAppender"/>
		</root>
	</log4net>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
